.toptitle{
    position: fixed;
    height: 80px;
    width: 1260px;
    margin-left: 260px;
    margin-top: 17px;
    background-color: #edebe9;
}

.toptitle > .dashboardtitle {
    position: fixed;
    top: 8.5%;
    left: 18%;
    font-weight: bold;
    color: #0078D4;
    font-size: medium;
}
