<!--<a routerLink="/home"> login works!!</a>-->
<!--<img class = "backgroundimg" src = "assets/mylogin.jpg">-->
<div class="background-container">
  <img [src]="backgroundImage" alt="Background Image" [ngStyle]="{'position': 'absolute', 'top': '0', 'left': '0', 'width': '100%', 'height': '100%'}">
  <!-- Your Angular application content goes here -->
<!--  <a class = "linkfont" routerLink="/home"><- Login -> </a>-->
  <div class = "logindata">
      <div class = "inputdata">
        <input type="text" id="username" name="username" placeholder="username"><br><br>
        <input type="text" id="password" name="password" placeholder="password"><br><br><br><br>
        <button routerLink="/home">Login</button>
      </div>
  </div>
</div>
