<!DOCTYPE>
<html>
  <body>
    <div class="form1">
      <div class="circle"><i class='fa fa-address-book'></i></div>
      <hr class="hrline">

      <div class = "formcontainer">
      <div class = "col1"><label for="name">Firstname</label></div>
       <div class = "col2"><input type="text" id="name" name="name"></div>
      <div class = "col1"><label for="lname">Lastname</label></div>
      <div class = "col2"><input type="text" id="lname" name="name"></div><br><br>
      <div class = "col1"><label for="address">Address</label></div>
      <div class = "col2"><input type="text" id="address" name="name"></div>
      <div class = "col1"><label for="phone">Phone</label></div>
      <div class = "col2"><input type="text" id="phone" name="name"></div><br><br>
      <div class = "col1"><label for="nextkin">Next of Kin</label></div>
      <div class = "col2"><input type="text" id="nextkin" name="name"></div>
      <div class = "col1"><label for="email">Email</label></div>
      <div class = "col2"><input type="text" id="email" name="name"></div>
      <div class="submitbutton"><button>Submit</button></div>
      <div class="cancelbutton"><button>Cancel</button></div>
      </div>
    </div>
  </body>
</html>
