@media screen and (max-width: 600px) {
  .col1,.col2, input[type=submit], .submitbutton, .cancelbutton {
    width: 100%;
    margin-top: 0;
  }
}

.form1{
  position: fixed;
  margin-top: 120px;
  margin-left: 260px;
  width: 1260px;
  height: 350px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

label{
  font-size: 13.5px;
  color: #5d5d5d;
  /*font-family: sans-serif;*/
}

input{
  width: 330px;
  left: 50%;
  border-radius: 3px;
  border: 1px solid;
  border-color: darkgray;
}

.circle {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #D4F1F4;
    padding: 10px;
}

.col1{
  float: left;
  width: 15%;
  margin-left: 80px;
}

.col2{
  float: left;
  /*width: 30%*/
}

.form1 > .horizontal {
  top: 70%;
}

.submitbutton {
  position: absolute;
  top: 180%;
  left: 70%;
  width: 50px;
}

.submitbutton button{
  width: 100px;
  border-radius: 5px;
}

.cancelbutton {
  position: absolute;
  top: 180%;
  left: 82%;
}

.cancelbutton button {
  width: 100px;
  border-radius: 5px;
}

.hrline{
  position: relative;
  top: 17%;
}

.formcontainer {
  position: relative;
  top: 25%;
}
