<router-outlet></router-outlet>

<!--<div><app-login></app-login></div>-->
<!--     <div class = "login"><router-outlet name="loginOutlet"></router-outlet></div>
      <div><app-topnav></app-topnav></div>
      <div><app-toptitle><h1>{{title}}</h1></app-toptitle></div>
      <router-outlet></router-outlet>
&lt;!&ndash;      <div><app-forms></app-forms></div>&ndash;&gt;
&lt;!&ndash;      <div><app-panelbox></app-panelbox></div>&ndash;&gt;
&lt;!&ndash;      <div><app-datatableview></app-datatableview></div>&ndash;&gt;
      <div><app-sidenav></app-sidenav></div>
      <div><app-sidenavnext></app-sidenavnext></div>-->


