<!DOCTYPE>
  <html>
    <body>
        <div class="sidenavnext">
<!--          <app-toptitle></app-toptitle>-->

          <div class = "depositlink">
            <p><a href="#" target="_blank">Deposit</a></p>
            <p><a href="#" target="_blank">Withdrawal</a></p>
            <p><a href="#" target="_blank">Account Details</a></p>
            <p><a href="#" target="_blank">Transaction History</a></p>
            <p><a href="#" target="_blank">Transfer Funds</a></p>

          </div>

        </div>

    </body>

</html>
