.sidenavnext{
      position: relative;
      width:200px;
      height: 100vh;
      margin-left: 45px;
      background-color: #f3f2f1;
}

.depositlink {
  margin-top: 20px;
  padding: 15px 15px 15px 15px;
  color: #0078D4;
}

.depositlink a {
  display: block;
  text-decoration: none;
  color: #5d5d5d;
  font-size: 14.5px;
}

.depositlink a:hover {
  /*display: block;*/
  background-color: #ADD8E6;
}

#icons1 {
  color: #0078D4;
}

