<!DOCTYPE>
  <html>
    <body>
        <div class="sidenavnext">
<!--          <app-toptitle></app-toptitle>-->

          <div class = "depositlink">
            <p><i class='fa fa-money-bill'></i>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">Deposit</a></p>
            <p><i class='fa fa-money-bill'></i>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">Withdrawal</a></p>
            <p><i class='fa fa-money-bill'></i>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">Account Details</a></p>
            <p><i class='fa fa-money-bill'></i>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">Transaction History</a></p>
            <p><i class='fa fa-money-bill'></i>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">Transfer Funds</a></p>
            <p><i class='fa fa-money-bill'></i>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">Account Statement</a></p>
            <p><i class='fa fa-money-bill'></i>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">Messages</a></p>


          </div>

        </div>

    </body>

</html>
