.sidenavnext{
      position: relative;
      width:200px;
      height: 100vh;
      margin-left: 45px;
      background-color: #f3f2f1;
}

.depositlink {
  margin-top: 20px;
  padding: 15px 15px 15px 15px;
  color: #0078D4;
}

.depositlink a {
  display: block;
  text-decoration: none;
  color: #5d5d5d;
  font-size: 14.5px;
}

.depositlink a:hover {
  /*display: block;*/
  background-color: #ADD8E6;
}

#icons1 {
  color: #0078D4;
}

.security{
  position: relative;
  background-color: #838996;
  width: 100%;
  height: 3px;
}







/* Style the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the dropdown button */
select {
  appearance: none; /* Remove default styles */
  -webkit-appearance: none; /* Safari and Chrome */
  -moz-appearance: none; /* Firefox */
  border: 1px solid #f3f2f1; /* Border */
  background-color: #f3f2f1;
  padding: 8px 30px 8px 10px; /* Padding */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor on hover */
  width: 150px; /* Width of the dropdown */
}

/* Style the dropdown arrow */
select::after {
  content: '\25BC'; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Style the dropdown options */
option {
  background-color: #fff; /* Background color */
  color: #333; /* Text color */
}

/* Style the dropdown on hover */
select:hover {
  border-color: #999; /* Border color on hover */
}

/* Style the dropdown when focused */
select:focus {
  outline: none; /* Remove focus outline */
  border-color: #555; /* Border color when focused */
}

