<!DOCTYPE>
  <html>
    <body>
      <div class = "topnav">
          <div class="top">
            <div class = "logo"> <i class='fa fa-address-book'></i>
            </div>
          </div>
                  <a routerLink="/">Dashboard</a>
                  <a routerLink="/forms">Signup</a>
                   <a href="#" target="_blank">About</a>
                   <a routerLink="/users">Users</a>
                   <a href="#" target="_blank">Portfolio</a>
                   <a href="#" target="_blank">Contacts</a>
                  <a href="#" target="_blank">|</a>

      </div>
    </body>
</html>
