<!DOCTYPE>
<html>
  <body>
    <div class = "panelbox">
      <div class="v_line"></div>

      <div class="image1"><i class='fa fa-address-book'></i>
      </div>
      <div class="label1"><p>10K <br> Visitors</p>
      </div>
      <div class="image2"><i class='fa fa-globe'></i>
      </div>
      <div class="label2"><p>100 <br> Branches</p>
      </div>

      <div class="image3"><i class='fa fa-mail-bulk'></i>
      </div>
      <div class="label3"><p>120 <br> Emails </p>
      </div>
      <div class="image4"><i class='fa fa-award'></i>
      </div>
      <div class="label4"><p>50+ <br> Awards</p>
      </div>
        <div class="h_line"></div>
    </div>

<!-- 2nd panel-->
    <div class = "panelbox2">
      <div class="v_line"></div>

      <div class="image1"><i class='fa fa-address-book'></i>
      </div>
      <div class="label1"><p>10K <br> Visitors</p>
      </div>
      <div class="image2"><i class='fa fa-globe'></i>
      </div>
      <div class="label2"><p>100 <br> Branches</p>
      </div>

      <div class="image3"><i class='fa fa-mail-bulk'></i>
      </div>
      <div class="label3"><p>120 <br> Emails </p>
      </div>
      <div class="image4"><i class='fa fa-award'></i>
      </div>
      <div class="label4"><p>50+ <br> Awards</p>
      </div>
      <div class="h_line"></div>
    </div>

<!--3rd panel-->
  <div class = "panelbox3">
    <div class="label3_1"><p>50+ <br> Awards</p>
    </div>
  </div>

  <div class = "panelbox3_1">
    <div class="image3_1"><i class='fa fa-star'></i>
    </div>
  </div>

<!--  4th panel-->
  <div class = "panelbox4">
    <div class="label4_1"><p>50+ <br> Awards</p>
    </div>
  </div>
  <div class = "panelbox4_1">
    <div class="image4_1"><i class='fa fa-wordpress'></i>
    </div>
  </div>

<!--  5th panel-->
  <div class = "panelbox5">
      <ul class = "mylist">
        <li class="grey">Members Performance</li>
        <li>12 Emails</li>
        <li>12 Emails</li>
        <li>12 Emails</li>
        <li>12 Emails</li>
      </ul>
  </div>

  <div class = "panelbox6"></div>

  <div class = "panelbox7"></div>

  <div class = "panelbox8"></div>

  <div class = "panelbox9"></div>

  <div class = "panelbox10"></div>
  <br>
  </body>

</html>
