<!DOCTYPE>
  <div class = "popupform">
<!--  <div class = "toptitle"></div>-->
<!--    FORMS  POPUP-->
<div class = "formcontainer">
    <div><label for="amount">{{depositLabel}}</label></div>
    <div><input type="text" id="amount" name="amount" placeholder="amount" class = "dinput"></div>
    <div><label for="account">Account</label></div>
    <div><input type="text" id="account" name="account" placeholder="account"></div>

  <div>
    <button>Deposit</button>
<!--    <button class="mvbutton">Cancel</button>-->
</div>

</div>
</div>
